#button-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#content {
    text-align: center;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.image-container {
    width: 20%; /* Adjust this value to change the size of the container */
    margin: 0 auto 10px; /* Centering and spacing */
    overflow: hidden; /* Ensures no part of the image spills out */
    position: relative; /* For positioning the pseudo-element */
    padding-top: 50%; /* Adjust this value to change the aspect ratio of the container */
    background: #FFF; /* Optional: sets a background color for empty areas */
}

#displayedImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Resizes the image to fit within the frame without cropping */
}

#className {
    font-size: 28px; /* Larger font size for class name */
    font-weight: bold; /* Bold text for emphasis */
    margin-top: 10px; /* Space above the class name */
}

#displayText {
    font-size: 24px; /* Larger font size for readability */
    margin-top: 10px; /* Space between the class name and text */
    color: #333; /* Dark grey color for text */
}

button {
    font-size: 18px;
    padding: 15px 30px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
